<table width="100%" border="0" cellspacing="0" cellpadding="4">
	<tr class="heading">
		<td width="160px"><img heigth="70px" width="70px" src="img/rulemaintenance.png"></td>
		<td class="title">Business Rules Maintenance Tool</td>
	</tr>
</table>
