#set($pagetitle='About')
<p class="heading">About the Business Rules Maintenance Tool</p>
<p>Web application version: ${version} (${lastupdate}) - Ruleengine version: ${ruleengineversion} (${ruleenginelastupdate})</p>
#if($numberofprojects)
	<p>Total number of projects: $!numberofprojects - number of rules: $!numberofrules - number of actions: $!numberofactions</p>
#end
<p>This web application uses modern technologies to present the content to the user. on the other hand the application can be rapidly updated and maintained. This is achieved by using a MVC (Model-View-Controller) paradigm and by implementing an advanced template engine (Apache Velocity).</p>
<p>Given these advantages, paired with a high-speed quality database, RAD (Rapid Application Development) is indeed possible.</p>
<p>The applied technologies of the application are:</p>
<ul>
	<li>Tomcat Web Server. Most used web-server worldwide. Dynamic reloading of code.</li>
	<li>Java Servlets. The strength, performance and security of Java used for controlling the application and the business objects.</li>
	<li>Beanshell scripts for on-the-fly code maintenance.</li>
	<li>Apache Velocity Template Engine. Gives flexibility in design, splits development from web-design and is very fast.</li>
	<li>MySql/MariaDB Database. Most used open-source database worldwide. Relational, transactional, fast and modern. Easy to deploy, manage and maintain.</li>
	<li>jQuery libraries for advanced functions, features and user experience.</li>
</ul>
<br>
<p>Requirements for this application:</p>
<ul>
	<li>HTML 4 conformal browser.</li>
	<li>Some functionality requires JavaScript.</li>
</ul>
<p>Check for new versions, source code, database schema, documentation and more on the Datamelt <a href="http://github.com/uwegeercken">GitHub pages</a>. The <a href="http://datamelt.weebly.com"> Datamelt Blog</a> explains many aspects of the ruleengine and has detailed examples.</p> 
<br>
<br>
<p>Copyright Uwe Geercken, 2014-2018. All code by: Uwe Geercken, uwe.geercken@web.de</p>
<br />
<table width="90%" border="0" align="center">
<tr>
	<td align="center" width="50%"><a href="http://velocity.apache.org/"><img src="img/velocity-logo.gif" border="0" alt="Apache Velocity"></a></td>
	<td align="center" width="50%"><a href="http://www.mysql.com"><img src="img/poweredbymysql_logo.gif" border="0" width="125" height="42" alt="MySql Website"></a></td>
</tr>
</table>
<br>
<br>
<br>