#set($pagetitle='Database Connection')
<p class="heading">Database Connection</p>
<p>The database connection is correctly configured, the database was created and the Business Rules Maintenance Tool is now ready to be used.</p>
<form method="POST" action="process?action=bsh&scriptname=welcome"> 
<table align="center" width="95%" border="0">
	<tr>
		<td align="center">
			<input type="submit" value="Ok" name="submit">
		</td>
	</tr>
</table>
</form>
</br>
</br>
