#set($pagetitle='Copy Project')
<p class="heading">Copy Project - Project: ${copyproject.name}</p>
<p><img id="helpimg" height="22" width="22" src="img/help_black.png" title="show help" onclick="switchHelp()"></p>
<div id="help">
	<p class="helptitle">Copy a project</p>
	<p>Enter the name and description of the project to be created. The process will copy all content of the project into a new one. The person who copied the project (the owner) has always write access to the project.</p>
	<p>Define the group that the project belongs to. Members of this group have write access to the project. Mark the project as private, so that users outside the group do not see the project.</p>
</div>
<div class="formbox">
<form method="POST" action="process?action=bsh&scriptname=copyproject&copyprojectid=${copyproject.id}"> 
<table align="center" width="95%" border="0">
	<tr> 
		<td>Project to copy:</td>
		<td>
			$!{copyproject.name} - $!{copyproject.description}
		</td>
	</tr>
	<tr> 
		<td>new Project Name:</td>
		<td>
			<input name="name" type="text" size="40" maxlength="80" value="$!{project.name}">
		</td>
		
	</tr>
	<tr>
		<td>new Project Description:</td>
		<td>
			<input name="description" type="text" size="40" maxlength="255" value="$!{project.description}">
		</td>
	</tr>
		<tr class="hiddenrow">
		<td>Field Getter/Setter Classname:</td>
		<td>
			<input name="objectclassname" type="text" size="40" maxlength="80" value="$!{project.objectClassname}">
		</td>
	</tr>
	<tr class="hiddenrow">
		<td>Field Getter Method:</td>
		<td>
			<input name="objectmethodgetter" type="text" size="40" maxlength="80" value="$!{project.objectMethodGetter}">
		</td>
	</tr>
	<tr class="hiddenrow">
		<td>Field Setter Method:</td>
		<td>
			<input name="objectmethodsetter" type="text" size="40" maxlength="80" value="$!{project.objectMethodSetter}">
		</td>
	</tr>
	
	<tr>
		<td>Owner group:</td>
		<td>		
			<select name="projectgroupid" size="1">
				<option selected value="0"></option>
				#foreach($group in $groups)
					#if(${project.group.id}==$group.id)
						<option selected value="$group.id">$group.name</option>
					#else
						<option value="$group.id">$group.name</option>
					#end
				#end

    		</select>
		</td>		
	</tr>
	<tr>
		<td>Private project:</td>
		<td>
			<input type="checkbox" name="isprivate" value="${project.privateProject}" #if(${project.privateProject}==1)checked#end>
		</td>
	</tr>
	<tr>
	#if($mode && ($mode=="inserted" || $mode=="updated"))
		<td colspan="2" align="center"><br />
			<input type="submit" value="close" name="submit">
		</td>
	#else
		<td colspan="2" align="center"><br />
			<input type="submit" value="copy" name="submit">
		</td>
	#end
	</tr>
	<tr>
		<td colspan="2"><br />
			<img id="moretoshow" height="22" width="22" src="img/more.png" title="more/less options">
		</td>
	</tr>
	
</table>
</form>
</div>

#if (${infomessage})
	<p align="center">#insert_message($infomessage)</p>
#end
