#set($pagetitle='Copy Rule Group')
<p class="heading">Copy Rule Group - Project: <b>${project.name}</b></p>
<p><img height="24" width="24" src="img/help_black.png" title="show help" onclick="switchHelp()"><a href="process?action=bsh&ro=1&scriptname=listrulegroups&projectid=${project.id}"><img height="24" width="24" src="img/go_back.png" title="go back: Rule Group List"></a></p>
<div id="help">
	<p>This page allows you to copy a rule group for the selected project.</p>
	<p>Enter all details and finally select the rule group to copy from. All subgroups and all rules will be copied from the selected rule group to the new group.</p>
</div>
<div class="formbox">
<form method="POST" action="process?action=bsh&scriptname=copyrulegroup&projectid=${project.id}"> 
<table align="center" width="95%" border="0"> 
	<tr>
		<td>Name:</td>
		<td>
			<input name="name" type="text" size="40" maxlength="100" value="$!{rulegroup.name}">
		</td>
		
	</tr>
	<tr>
		<td>Description:</td>
		<td>
			<input name="description" type="text" size="40" maxlength="255" value="$!{rulegroup.description}">
		</td>
	</tr>
	<tr>
		<td>Valid from:</td>
		<td>
			<input name="valid_from" type="text" size="40" maxlength="255" value="$!{rulegroup.validFrom}"> (format: YYYY-MM-DD)
		</td>
	</tr>
	<tr>
		<td>Valid until:</td>
		<td>
			<input name="valid_until" type="text" size="40" maxlength="255" value="$!{rulegroup.validUntil}"> (format: YYYY-MM-DD)
		</td>
	</tr>
	<tr> 
		<td>Rule Group to copy from:</td>
		<td>
			<select name="copy_id" size="1">
			<option value="0"></option>
			#foreach($rulegroup in $rulegroups)
					<option value="$rulegroup.id">${rulegroup.name}</option>
			#end
    		</select>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center"><br />
			<input type="submit" value="copy" name="submit">
			<input type="submit" value="cancel" name="submit">
		</td>
	</tr>
	
</table>
</form>
<div>
#if (${infomessage})
	<p align="center">#insert_message($infomessage)</p>
#end

