#set($pagetitle='Delete Reference Field')
<p class="heading">Delete Reference Field</p>
<form method="POST" action="process?action=bsh&scriptname=deletereferencefield&id=${field.id}&projectid=${field.projectId}"> 
<div class="unit">
	<div class="grouptop">
		<p class="small">reference field</p>
		<p class="big">$!{field.name}</p>
		<p class="normal">$!field.description</p>
		<p class="normal">type: $!{field.type.name}</p>

	</div>
</div>
<div class="bottomtext"> 
<p>Are you sure you want to delete this reference field?</p>
<p><input type="submit" value="delete field" name="submit"><input type="submit" value="cancel delete" name="submit"></p>
</div>	
</form>
<br>
<br>
<br>
