#set($pagetitle='Delete User')
<p class="heading">Delete User</p>
<form method="POST" action="process?action=bsh&scriptname=deleteuser&id=${dbuser.id}"> 
<div class="unit">
	<div class="grouptop">
		<p class="small">user</p>
		<p class="big">$!{dbuser.name}</p>
		<p class="normal">userid: $!dbuser.userid</p>
		<p class="normal">groups: $!{dbuser.getGroupsAsString()}</p>

	</div>
</div>
<div class="bottomtext"> 
<p>Are you sure you want to delete the user? This will completely remove the user from the database and can not be undone!</p>
<p><input type="submit" value="delete user" name="submit"><input type="submit" value="cancel delete" name="submit"></p>
</div>	
</form>
<br>
<br>
<br>
