#set($pagetitle='Documentation')
<p class="heading">Business Rules Maintenance Tool Documentation</p>
<p>Documentation for the web application and the ruleengine itself. All documents are in PDF format.</p>
<ul>
	<li><a target="_external" href="documents/rule_engine_presentation_english.pdf">Business Rule Engine presentation - English</a></li>
	<li><a target="_external" href="documents/business_rules_maintenance_web_application.pdf">Business Rule Maintenance Web Application - setup, concept and workflow details</a></li>
	<li><a target="_external" href="documents/ruleengine_checks.pdf">List of available Ruleengine Checks</a></li>
	<li><a target="_external" href="documents/ruleengine_actions.pdf">List of available Ruleengine Actions</a></li>
	<li><a target="_external" href="documents/ruleengine_real-life_sample_rent-a-ferrari.pdf">Sample: Business logic for &quot;How to rent a Ferrari&quot;</a></li>		
</ul>
<br>
<p>Below are the external links to the GitHub repositories where the documentation, source code, libraries and other tools are available. You will always find the latest versions of the tools there.</p>
<ul>
	<li><a target="_external" href="https://github.com/uwegeercken/rule_maintenance_documentation">Business Rules Maintenance Tool Documentation</a></li>
	<li><a target="_external" href="https://github.com/uwegeercken/rule_maintenance_documentation">Getting started: Real Life Sample</a></li>
	<li><a target="_external" href="https://github.com/uwegeercken/rule_maintenance_war">Business Rules Maintenance Tool Web archive (war file)</a></li>
	<li><a target="_external" href="https://github.com/uwegeercken/jare">JaRE - Java Rule Engine</a></li>
	<li><a target="_external" href="https://github.com/uwegeercken/jareplugin">Pentaho PDI Ruleengine Step (plugin)</a></li>
</ul>
<br>
<p>Find more information, practical examples and more in my blog</p>
<ul>
	<li><a target="_external" href="http://datamelt.weebly.com">Datamelt blog at Weebly</a></li>
</ul>
<br>
<br>






