#set($pagetitle='Rule Group Maintenance')
<p class="heading">Rule Group maintenance - Project: ${project.name}</p>
<p><img id="helpimg" height="24" width="24" src="img/help_black.png" title="show help" onclick="switchHelp()"><a href="process?action=bsh&ro=1&scriptname=listrulegroups&projectid=${project.id}"><img class="go_back" height="24" width="24" src="img/go_back.png" title="go back: Rule Group List"></a></p>
<div id="help">
	<p>Edit the selected rule group.</p>
	<p>Enter the name and description of the rule group. Specify from and until date for the validity of the group.</p>
</div>
<div class="formbox">
#if($mode=="add")
	<form method="POST" action="process?action=bsh&scriptname=editrulegroup&projectid=${project.id}"> 
	
#else
	<form method="POST" action="process?action=bsh&scriptname=editrulegroup&id=${rulegroup.id}&projectid=${project.id}"> 
#end
<input type="hidden" name="id" value="${project.id}">
<table align="center" width="95%" border="0">
	<tr> 
		<td>Name:</td>
		<td>
			<input name="name" type="text" size="40" maxlength="80" value="$!{rulegroup.name}">
		</td>
		
	</tr>
	<tr>
		<td>Description:</td>
		<td>
			<input name="description" type="text" size="40" maxlength="255" value="$!{rulegroup.description}">
		</td>
	</tr>
	<tr>
		<td>Valid from:</td>
		<td>
			<input id="datepicker1" name="valid_from" type="text" size="40" maxlength="255" value="$!{rulegroup.validFrom}"> (format: YYYY-MM-DD)
		</td>
	</tr>
	<tr>
		<td>Valid until:</td>
		<td>
			<input id="datepicker2" name="valid_until" type="text" size="40" maxlength="255" value="$!{rulegroup.validUntil}"> (format: YYYY-MM-DD)
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center"><br />
			<input type="submit" value="save" name="submit">
			<input type="submit" value="cancel" name="submit">
		</td>
	</tr>
</table>
</form>
#if(${rulegroup.id}>0)
	<p class="small">last edited by: ${rulegroup.lastUpdateUser.name}, ${rulegroup.lastUpdate}</p>
#end
</div>
#if (${infomessage})
	<p align="center">#insert_message($infomessage)</p> 
#end
