#set($pagetitle='Project Maintenance')
<p class="heading">Project maintenance</p>
<p><img height="24" width="24" src="img/help_black.png" title="show help" onclick="switchHelp()"><a href="process?action=bsh&ro=1&scriptname=listprojects"><img height="24" width="24" src="img/go_back.png" title="go back: Project List"></a></p>
<div id="help">
	<p>Edit the selected project.</p>
	<p>Enter the name and description of the project. The name will be used for the zip file containing all rules, so it's better to not use special characters and spaces.</p>
</div>
<div class="formbox">
#if($mode=="add")
	<form method="POST" action="process?action=bsh&scriptname=editproject"> 
	
#else
	<form method="POST" action="process?action=bsh&scriptname=editproject&id=${project.id}"> 
#end
<input type="hidden" name="id" value="${project.id}">
<table align="center" width="95%" border="0">
	<tr> 
		<td>Name:</td>
		<td>
			<input name="name" type="text" size="40" maxlength="80" value="$!{project.name}">
		</td>
		
	</tr>
	<tr>
		<td>Description:</td>
		<td>
			<input name="description" type="text" size="40" maxlength="255" value="$!{project.description}">
		</td>
	</tr>
	<tr>
		<td>Owner group:</td>
		<td>		
			<select name="projectgroupid" size="1">
				<option selected value="0"></option>
				#foreach($group in $groups)
					#if(${project.group.id}==$group.id)
						<option selected value="$group.id">$group.name</option>
					#else
						<option value="$group.id">$group.name</option>
					#end
				#end

    		</select>
		</td>		
	</tr>
	<tr>
		<td colspan="2" align="center"><br />
			<input type="submit" value="save" name="submit">
			<input type="submit" value="cancel" name="submit">
		</td>
	</tr>
</table>
</form>
#if(${project.id}>0)
	<p class="small">last edited by: ${project.lastUpdateUser.name}, ${project.lastUpdate}</p>
#end
</div>

#if (${infomessage})
	<p align="center">#insert_message($infomessage)</p>
#end
