#set($pagetitle='Project Maintenance')
<p class="heading">Project maintenance</p>
<p><img height="24" width="24" src="img/help_black.png" title="show help" onclick="switchHelp()"><a href="process?action=bsh&ro=1&scriptname=listprojects"><img class="go_back" height="24" width="24" src="img/go_back.png" title="go back: Project List"></a></p>
<div id="help">
	<p>Edit the selected project.</p>
	<p>Enter the name and description of the project. The name will be used as the zip file name containing all rules, so it's better to not use special characters and spaces.</p>
	<p>The group field defines to which group the project belongs. Only members of the group have write access to the project. Mark the group as private so that users outside the group do not see the project.</p>
</div>
<div class="formbox">
#if($mode=="add")
	<form method="POST" action="process?action=bsh&scriptname=editproject"> 
	
#else
	<form method="POST" action="process?action=bsh&scriptname=editproject&id=${project.id}"> 
#end
<input type="hidden" name="id" value="${project.id}">
<table align="center" width="95%" border="0">
	<tr> 
		<td>Name:</td>
		<td>
			<input name="name" type="text" size="40" maxlength="80" value="$!{project.name}">
		</td>
		
	</tr>
	<tr>
		<td>Description:</td>
		<td>
			<input name="description" type="text" size="40" maxlength="255" value="$!{project.description}">
		</td>
	</tr>
	<tr>
		<td>Group:</td>
		<td>		
			<select name="projectgroupid" size="1">
				<option selected value="0"></option>
				#foreach($group in $groups)
					#if(${project.group.id}==$group.id)
						<option selected value="$group.id">$group.name</option>
					#else
						<option value="$group.id">$group.name</option>
					#end
				#end

    		</select>
		</td>		
	</tr>
	<tr>
		<td>Private project:</td>
		<td>
			<input type="checkbox" name="isprivate" value="${project.privateProject}" #if(${project.privateProject}==1)checked#end>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center"><br />
			<input type="submit" value="save" name="submit">
			<input type="submit" value="cancel" name="submit">
		</td>
	</tr>
</table>
</form>
#if(${project.id}>0)
	<p class="small">owner: ${project.ownerUser.name}, last edited by: ${project.lastUpdateUser.name}, ${project.lastUpdate}</p>
#end
</div>

#if (${infomessage})
	<p align="center">#insert_message($infomessage)</p>
#end
