#set($pagetitle='Project Transformation Maintenance')
<p class="heading">Project Transformation Maintenance - Project: ${project.name}</p>
<p><img id="helpimg" height="24" width="24" src="img/help_black.png" title="show help" onclick="switchHelp()"><a href="process?action=bsh&ro=1&scriptname=listprojects"><img class="go_back" height="24" width="24" src="img/go_back.png" title="go back: Project List"></a></p>
<div id="help">
	<p>Edit the selected project transformation.</p>
	<p>You may import a Pentaho PDI Transformation file which contains one or more Rule Engine steps. Click on &quot;save&quot; to upload the transformation file. Afterwards you may select a transformation step, if there are multiple ones. When writing rules or actions for the selected Rule Engine step, the fields of the step can be selected via a dropdown and the type does not need to be specified.</p>
	<p>Click on &quot;remove&quot; to remove the transformation file from the project.</p>
	<p>Attention: If the transformation changes, then you must upload the transformation again. If the fields in the transformation change, then you might need to adjust the rules and actions according to the new fields.</p>
</div>
<div class="formbox">
#if($mode=="add")
	<form method="POST" action="process?action=bsh&scriptname=editprojecttransformation" enctype="multipart/form-data"> 
	
#else
	<form method="POST" action="process?action=bsh&scriptname=editprojecttransformation&id=${project.id}" enctype="multipart/form-data"> 
#end
<input type="hidden" name="id" value="${project.id}">
<table align="center" width="95%" border="0">
	<tr>
		<td>Transformation to Import:</td>
		<td>
			<input name="transformationname" type="text" size="40" maxlength="255" value="$!{project.transformationFilename}" readonly>
			<input name="transformation" type="file" size="40" maxlength="255" accept=".ktr">
		</td>
	</tr>
	<tr>
		<td>Transformation Step:</td>
		<td>
			#if(!$steps || $steps.size()==0)		
				<select name="stepname" size="1">
					<option selected value=""></option>
	    		</select>
			#elseif($steps.size()>1)		
				<select name="stepname" size="1">
					#foreach($step in $steps)
						#if(${project.transformationStepname}==$step.name)
							<option selected value="$step.name">$step.name</option>
						#else
							<option value="$step.name">$step.name</option>
						#end
					#end
	    		</select>
    		#elseif($steps.size()==1)
	    		<select name="stepname" size="1">
					#foreach($step in $steps)
						<option selected value="$step.name">$step.name</option>
					#end
	    		</select>
    		#end
    		
		</td>		
	</tr>
	<tr>
	#if($mode && ($mode=="inserted" || $mode=="updated"))
		<td colspan="2" align="center"><br />
			<input type="submit" value="close" name="submit">
		</td>
	#else
		<td colspan="2" align="center"><br />
			<input type="submit" value="save" name="submit">
			<input type="submit" value="remove" name="submit">
			<input type="submit" value="cancel" name="submit">
		</td>
	#end
	</tr>
</table>
</form>
#if(${project.id}>0)
	<p class="small">owner: ${project.ownerUser.name}, last edited by: ${project.lastUpdateUser.name}, ${project.lastUpdate}</p>
#end
</div>

#if (${infomessage})
	<p align="center">#insert_message($infomessage)</p>
#end
