#set($pagetitle='Change User Avatar')
<p class="heading">Change User Avatar</p>
<p><img id="helpimg" height="22" width="22" src="img/help_black.png" title="show help" onclick="switchHelp()"></p>
<div id="help">
	<p class="helptitle">Change the avatar/picture of the user</p>
	<p>The user can upload a picture, that is displayed to identify the user.</p>
</div>
<div class="formbox">
<form method="POST" action="process?action=bsh&scriptname=editavatar&userid=${user.userid}" enctype="multipart/form-data"> 
<table align="center" width="95%" border="0">
	<tr>
		<td>User:</td>
		<td>
			${user.userid}, ${user.name}
		</td>
	</tr>
	<tr>
		<td>Picture to import:</td>
		<td>
			<input name="avatar" type="file" size="40" maxlength="255" value="$!{avatar}">
		</td>
	</tr>
	<tr>
		<td>#if($user)
					#if(${user.hasAvatar()})
						<a href="process?action=bsh&scriptname=selecteditavatar&userid=${user.userid}"><img width="60" height="60" src="img/users/${user.userid}" title="$!{user.name} ($!{user.userid})" alt="$!{user.name} ($!{user.userid})"></a>
					#else
						<a href="process?action=bsh&scriptname=selecteditavatar&userid=${user.userid}"><img width="60" height="60" src="img/users/dummy.png" title="$!{user.name} ($!{user.userid})" alt="$!{user.name} ($!{user.userid})"></a>
					#end
				#end
			</td>
	</tr>

	<tr>
		<td colspan="2" align="center"><br />
			<input type="submit" value="import" name="submit">
		</td>
	</tr>
</table>

</form>
			
</div>

#if (${infomessage})
	<p align="center">#insert_message($infomessage)</p>
#end
