#set($pagetitle='Rule Subgroup Maintenance')
<p class="heading">#if($mode && $mode=="add")Add Subgroup #elseif($mode && $mode=="copy")Copy Subgroup #else Edit Subgroup#end - Project: <a href="process?action=bsh&ro=1&scriptname=listrulegroups&projectid=${project.id}">${project.name}</a> - Rule Group: <a href="process?action=bsh&ro=1&scriptname=listrulesubgroups&rulegroupid=${rulegroup.id}">${rulegroup.name}</a></p>
<p>
	<img id="helpimg" height="22" width="22" src="img/help_black.png" title="show help" onclick="switchHelp()">
	<a href="process?action=bsh&ro=1&scriptname=listrulesubgroups&rulegroupid=${rulegroup.id}"><img class="go_back" height="22" width="22" src="img/go_back.png" title="go back: Subgroups and rules"></a>
	#if($user.canUpdateProject($project)==true)
		<a href="process?action=bsh&ro=1&scriptname=selecteditrulesubgroup&rulesubgroupid=0&rulegroupid=${rulegroup.id}&mode=add"><img class="add_external" height="22" width="22" src="img/subgroup_add.png" title="add subgroup"></a>
	#end	
</p>
<div id="help">
	<p class="helptitle">#if($mode=="add")Add Subgroup #else Edit Subgroup#end</p>
	<p>Enter the name and description of the subgroup.</p> 
	<p>Specify the operator indicating how the subgroup is connected to the <b>previous</b> subgroup.</p>
	<p>Specify the operator indicating how the rules in the subgroup are connected to each other.</p>
</div>
<div class="formbox">
#if($mode && $mode=="add")
	<form method="POST" action="process?action=bsh&scriptname=editrulesubgroup&rulegroupid=${rulegroup.id}&rulesubgroupid=0"> 
#elseif($mode && $mode=="copy")
	<form method="POST" action="process?action=bsh&scriptname=editrulesubgroup&rulesubgroupid=0&rulegroupid=${rulegroup.id}&mode=${mode}&copyid=${copyid}"> 
#else
	<form method="POST" action="process?action=bsh&scriptname=editrulesubgroup&rulesubgroupid=${rulesubgroup.id}&rulegroupid=${rulegroup.id}"> 
#end
<input type="hidden" name="id" value="${project.id}">
<table align="center" width="95%" border="0">
	<tr> 
		<td>Name:</td>
		<td>
			<input name="name" type="text" size="40" maxlength="80" value="$!{rulesubgroup.name}">
		</td>
		
	</tr>
	<tr>
		<td>Description:</td>
		<td>
			<input name="description" type="text" size="40" maxlength="255" value="$!{rulesubgroup.description}">
		</td>
	</tr>
	<tr>
		<td>Connector to previous subgroup:</td>
		<td>		
			<select name="intergroupoperator" size="1">
				#if(${rulesubgroup.intergroupOperator}=="and")
					<option selected value="and">and</option>
				#else
					<option value="and">and</option>
				#end
				#if(${rulesubgroup.intergroupOperator}=="or")
					<option selected value="or">or</option>
				#else
					<option value="or">or</option>
				#end

    		</select>
		</td>		
	</tr>
	<tr>
		<td>Rules are connected using:</td>
		<td>		
			<select name="ruleoperator" size="1">
				#if(${rulesubgroup.ruleOperator}=="and")
					<option selected value="and">and</option>
				#else
					<option value="and">and</option>
				#end
				#if(${rulesubgroup.ruleOperator}=="or")
					<option selected value="or">or</option>
				#else
					<option value="or">or</option>
				#end
    		</select>
		</td>		
	</tr>
	<tr>
	#if($mode && ($mode=="inserted" || $mode=="updated"))
		<td colspan="2" align="center"><br />
			<input type="submit" value="close" name="submit">
		</td>
	#else
		<td colspan="2" align="center"><br />
			<input type="submit" value="save" name="submit">
			<input type="submit" value="cancel" name="submit">
		</td>
	#end
	</tr>
</table>
</form>
#if(${rulesubgroup.id}>0)
	<p class="small">last edited by: ${rulesubgroup.lastUpdateUser.name}, ${rulesubgroup.lastUpdate}</p>
#end
</div>
#if (${infomessage})
	<p align="center">#insert_message($infomessage)</p>
#end

