#set($pagetitle='Reference Field Maintenance')
<p class="heading">#if($mode!="add")Edit Reference Field: <b>$!{field.name}</b>#else Add Reference Field#end  - Project: ${project.name}</p>
<p><img id="helpimg" height="22" width="22" src="img/help_black.png" title="show help" onclick="switchHelp()"><a href="process?action=bsh&ro=1&scriptname=listreferencefields&id=${project.id}"><img class="go_back" height="22" width="22" src="img/go_back.png" title="go back: List of Reference Fields"></a></p>
<div id="help">
	<p class="helptitle">#if($mode=="add")Add Reference Filed #else Edit Reference Field#end</p>
	<p>Enter the descriptive name (shown to the user), name of the field in the data source, description and type of the field.</p>
	<p>- Type String is textual data</br>
	   - Type Integer is a full number without decimal point</br>
	   - Type Long is a full number without a decimal point, allowing larger values than the integer type</br>
	   - Type Float is a number with a decimal point</br>
	   - Type Double is a number with a decimal point, allowing larger values than the float type</br>
	   - Type Boolean allows a false or true value</br>
	   - Type Date is a date, usually in the form of yyyy-MM-dd</p>
	   
</div>
<div class="formbox">
#if($mode=="add")
	<form method="POST" action="process?action=bsh&scriptname=editreferencefield&id=0"> 
	
#else
	<form method="POST" action="process?action=bsh&scriptname=editreferencefield&id=${field.id}"> 
#end
<input type="hidden" name="projectid" value="${project.id}">
<table align="center" width="95%" border="0">
	<tr> 
		<td>Name Descriptive:</td>
		<td>
			<input name="namedescriptive" type="text" size="40" maxlength="80" value="$!{field.nameDescriptive}">
		</td>
	</tr>
	<tr> 
		<td>Name:</td>
		<td>
			<input name="name" type="text" size="40" maxlength="80" value="$!{field.name}">
		</td>
	</tr>
	<tr> 
		<td valign="top">Description:</td>
		<td>
			<textarea name="description" cols="40" rows="8">$!{field.description}</textarea>
		</td>
	</tr>
	<tr>
		<td>Type:</td>
		<td>
			<select name="javatypeid" size="1">
			<option value="0"></option>
			#foreach($type in $types)
				#if(${field.javaTypeId}==${type.id})
					<option selected value="$type.id">${type.name}</option>
				#else
					<option value="$type.id">${type.name}</option>
				#end
			#end
    		</select> 
		</td>
	<tr>
	#if($mode && ($mode=="inserted" || $mode=="updated"))
		<td colspan="2" align="center"><br />
			<input type="submit" value="close" name="submit">
		</td>
	#else
		<td colspan="2" align="center"><br />
			<input type="submit" value="save" name="submit">
			<input type="submit" value="cancel" name="submit">
		</td>
	#end
	</tr>
</table>
</form>
</div>
#if(${dbuser.id}>0)
	<p class="small">last edited: ${dbuser.lastUpdate}</p>
#end
#if (${infomessage})
	<p align="center">#insert_message($infomessage)</p>
#end

