#set($pagetitle='Rule Maintenance')
<p class="heading">Rule maintenance: #if($mode=="add")add rule #else edit rule#end - Project ${project.name} - Rule Group: ${rulegroup.name} - Rule Subgroup: ${rulesubgroup.name}</p>
<p>	<img id="helpimg" height="22" width="22" src="img/help_black.png" title="show help" onclick="switchHelp()">
	<a href="process?action=bsh&ro=1&scriptname=listrulesubgroups&rulegroupid=${rulegroup.id}"><img class="go_back" height="22" width="22" src="img/go_back.png" title="go back: Subgroups and rules"></a>
	#if($user.canUpdateProject($project)==true)
		<a href="process?action=bsh&ro=1&scriptname=selecteditrule&mode=add&id=0&rulegroupid=${rulegroup.id}&rulesubgroupid=${rulesubgroup.id}&projectid=${project.id}"><img class="add_external" height="22px" width="22px" src="img/rule_add2.png" title="add rule"></a>
	#end
</p>
<div id="help">
	<p class="helptitle">#if($mode=="add")Add Rule #else Edit Rule#end</p>
	<p>Enter a name and description for the rule and specify the field to check and its type (the data type of the field). The rule engine will retrieve the data from this field.</p>
	<p>Specify which type of check should be applied by the rule engine.</p>
	<p>Specify either the field to check against or a value to check against and its type. The rule engine will compare the data to what was retrieved from the field to check. An additional parameter to the check may optionally be specified.</p>
	<p>Define the messages to be used in case the rule passes or fails. You can use the variable $1 which contains the data from the field to check and $0 which contains the value or field to check against.</p> 
</div>
<div class="formbox">
#if($mode && $mode=="add")
	<form method="POST" action="process?action=bsh&scriptname=editrule&rulegroupid=${rulegroup.id}&rulesubgroupid=${rulesubgroup.id}&projectid=${project.id}"> 
	
#else
	<form method="POST" action="process?action=bsh&scriptname=editrule&id=${rule.id}&rulegroupid=${rulegroup.id}&rulesubgroupid=${rulesubgroup.id}&projectid=${project.id}"> 
#end
<input type="hidden" name="id" value="${rule.id}">
<table align="center" width="95%" border="0">
	<tr> 
		<td>Name:</td>
		<td>
			<input name="name" type="text" size="40" maxlength="80" value="$!{rule.name}">
		</td>
	</tr>
	<tr>
		<td>Description:</td>
		<td>
			<input name="description" type="text" size="40" maxlength="255" value="$!{rule.description}">
		</td>
	</tr>
	<tr>
		<td>Field to check:</td>
		<td>
			<select id="object1_parameter" name="object1_parameter" size="1">
			<option value=""></option>
			#foreach($field in $project.fields)
				#if(${rule.object1Parameter}==${field.name})
					<option selected value="${field.id}">${field.nameDescriptive} (${field.type.name})</option>
				#else
					<option value="${field.id}">${field.nameDescriptive} (${field.type.name})</option>
				#end
			#end
    		</select>
    		<img id="popup2" src="img/help_black.png" height="22" width="22" title="display reference fields">
    		<p id="popupurl2">listreferencefields_popup&id=${project.id}</p>
    		<div id="element_to_pop_up2"></div>
		</td>
	</tr>
	<tr>
		<td>Check:</td>
		<td>		
			<select id="check" name="check_id" size="1">
			<option value="0"></option>
			#foreach($check in $checks)
				#if(${rule.check.id}==${check.id})
					<option selected value="$check.id">${check.nameDescriptive}</option>
				#else
					<option value="$check.id">${check.nameDescriptive}</option>
				#end
			#end
    		</select>
    		<img id="popup" src="img/help_black.png" height="22" width="22" title="display check methods">
    		<p id="popupurl">listcheckmethods_popup</p>
    		<div id="element_to_pop_up"></div>
		</td>		
	</tr>
	<tr>
		<td>Field to check against:</td>
		<td>
			<select id="object2_parameter" name="object2_parameter" size="1">
			<option value=""></option>
			#foreach($field in $project.fields)
				#if(${rule.object2Parameter} && ${rule.object2Parameter}==${field.name})
					<option selected value="${field.id}">${field.nameDescriptive} (${field.type.name})</option>
				#else
					<option value="${field.id}">${field.nameDescriptive} (${field.type.name})</option>
				#end
			#end
    		</select>
		</td>
	</tr>
	<tr>
		<td>Value to check against:</td>
		<td>
			<input id="expectedvalue" name="expectedvalue" type="text" size="40" maxlength="65536" value="$!{rule.expectedValue}">
			Type: <select name="expectedvalue_type_id" size="1">
			<option value="0"></option>
			#foreach($type in $types)
				#if(${rule.expectedValueType.id}==${type.id})
					<option selected value="$type.id">${type.name}</option>
				#else
					<option value="$type.id">${type.name}</option>
				#end
			#end
    		</select>
		</td>
	</tr>
	<tr>
		<td>Additional Parameter:</td>
		<td>
			<input name="additionalparameter" type="text" size="40" maxlength="255" value="$!{rule.additionalParameter}">
			Type: <select name="additionalparameter_type_id" size="1">
			<option value="0"></option>
			#foreach($type in $types)
				#if(${rule.additionalParameterType.id}==${type.id})
					<option selected value="$type.id">${type.name}</option>
				#else
					<option value="$type.id">${type.name}</option>
				#end
			#end
    		</select>
		</td>
	</tr>
	<tr>
		<td>Message Passed:</td>
		<td>
			<input id="messagepassed" name="messagepassed" type="text" size="40" maxlength="255" value="$!{rule.messagePassed}">
			<input id="proposepassed" type="button" value="<" name="proposepassed">
		</td>
	</tr>
	<tr>
		<td>Message Failed:</td>
		<td>
			<input id="messagefailed" name="messagefailed" type="text" size="40" maxlength="255" value="$!{rule.messageFailed}">
			<input id="proposefailed" type="button" value="<" name="proposepassed">
		</td>
	</tr>
	<tr>
	#if($mode && ($mode=="inserted" || $mode=="updated"))
		<td colspan="2" align="center"><br />
			<input type="submit" value="close" name="submit">
		</td>
	#else
		<td colspan="2" align="center"><br />
			<input type="submit" value="save" name="submit">
			<input type="submit" value="cancel" name="submit">
		</td>
	#end
	</tr>
</table>
</form>
#if(${rule.id}>0)
<p class="small">last edited by: ${rule.lastUpdateUser.name}, ${rule.lastUpdate}</p>
#end
</div>
#if (${infomessage})
	<p align="center">#insert_message($infomessage)</p>
#end
