#set($pagetitle='Group Maintenance')
<p class="heading">Group maintenance: $!{group.name}</p>
<p>This page allows you to edit the currently selected group.</p>
<p>Back to: <a href="process?action=bsh&ro=1&scriptname=listgroups">list of groups</a></p>
<div class="formbox">
#if($mode=="add")
	<form method="POST" action="process?action=bsh&scriptname=editgroup"> 
	
#else
	<form method="POST" action="process?action=bsh&scriptname=editgroup&id=${group.id}"> 
#end
<input type="hidden" name="id" value="${group.id}">
<table align="center" width="95%" border="0">
	<tr> 
		<td>Name:</td>
		<td>
			<input name="name" type="text" size="40" maxlength="80" value="$!{group.name}">
		</td>
		
	</tr>
	<tr>
		<td>Description:</td>
		<td>
			<input name="description" type="text" size="40" maxlength="255" value="$!{group.description}">
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center"><br />
			<input type="submit" value="save" name="submit">
			<input type="submit" value="cancel" name="submit">
		</td>
	</tr>
</table>
</form>
</div>
#if (${infomessage})
	<p align="center">#insert_message($infomessage)</p>
#end


