#set($pagetitle='Group Maintenance')
<p class="heading">#if($mode!="add")Edit Group: $!{group.name}#else Add Group#end</p>
<p><img id="helpimg" height="22" width="22" src="img/help_black.png" title="show help" onclick="switchHelp()"><a href="process?action=bsh&ro=1&scriptname=listgroups"><img class="go_back" height="22" width="22" src="img/go_back.png" title="go back: List of groups"></a></p>
<div id="help">
	<p class="helptitle">Edit the selected group</p>
	<p>Enter the group name and description.</p> 
	<p>Users are members of one or multiple groups. Group membership gives write access for projects to users that belong to the group.</p>
</div>

<div class="formbox">
#if($mode=="add")
	<form method="POST" action="process?action=bsh&scriptname=editgroup"> 
	
#else
	<form method="POST" action="process?action=bsh&scriptname=editgroup&id=${group.id}"> 
#end
<input type="hidden" name="id" value="${group.id}">
<table align="center" width="95%" border="0">
	<tr> 
		<td>Name:</td>
		<td>
			<input name="name" type="text" size="40" maxlength="80" value="$!{group.name}">
		</td>
		
	</tr>
	<tr>
		<td>Description:</td>
		<td>
			<input name="description" type="text" size="40" maxlength="255" value="$!{group.description}">
		</td>
	</tr>
	<tr>
	#if($mode && ($mode=="inserted" || $mode=="updated"))
		<td colspan="2" align="center"><br />
			<input type="submit" value="close" name="submit">
		</td>
	#else
		<td colspan="2" align="center"><br />
			<input type="submit" value="save" name="submit">
			<input type="submit" value="cancel" name="submit">
		</td>
	#end
	</tr>
</table>
</form>
</div>
#if(${group.id}>0)
	<p class="small">last edited: ${group.lastUpdate}</p>
#end
#if (${infomessage})
	<p align="center">#insert_message($infomessage)</p>
#end


