#set($pagetitle='User Maintenance')
<p class="heading">User maintenance: <b>$!{dbuser.name}</b></p>
<p><img height="24" width="24" src="img/help_black.png" title="show help" onclick="switchHelp()"><a href="process?action=bsh&ro=1&scriptname=listusers"><img height="24" width="24" src="img/go_back.png" title="go back: List of users"></a></p>
<div id="help">
	<p>Edit the selected user.</p>
	<p>Enter the userid and name of the user.</p> 
	<p>Members of the admin group have full access to all parts of the application. Members of the user group have no administrative rights, but can add, update or delete projects, rule groups, subgroups, rules and actions. Members of the user group - read only - may view/inspect all parts of the application but are not allowed to do any updates and can not add or delete parts.</p>
</div>
<div class="formbox">
#if($mode=="add")
	<form method="POST" action="process?action=bsh&scriptname=edituser"> 
	
#else
	<form method="POST" action="process?action=bsh&scriptname=edituser&id=${dbuser.id}"> 
#end
<input type="hidden" name="id" value="${dbuser.id}">
<table align="center" width="95%" border="0">
	<tr> 
		<td>Userid:</td>
		<td>
			<input name="userid" type="text" size="15" maxlength="80" value="$!{dbuser.userid}">
		</td>
	</tr>
	<tr> 
		<td>Name:</td>
		<td>
			<input name="name" type="text" size="40" maxlength="80" value="$!{dbuser.name}">
		</td>
	</tr>
	#foreach($group in $groups)
	<tr>
		<td>$group.name</td>
		<td>
			<input type="checkbox" name="groups" value="${group.id}" #if(${dbuser.isInGroup(${group.name})})checked#end>
		</td>
	</tr>
	#end
	<tr>
		<td colspan="2" align="center"><br />
			<input type="submit" value="save" name="submit">
			<input type="submit" value="cancel" name="submit">
		</td>
	</tr>
</table>
</form>
</div>
#if (${infomessage})
	<p align="center">#insert_message($infomessage)</p>
#end

