#set($pagetitle='File List')
<p class="heading">File List (scripts: $filelist.size(), templates: $templateslist.size())</p>
<p><img id="helpimg" height="22" width="22" src="img/help_black.png" title="show help" onclick="switchHelp()"><a href="process?action=bsh&scriptname=selecteditfile&mode=add"><img class="add_external" height="22px" width="22px" src="img/file_add.png" title="add file">&nbsp;</a><a href="process?action=bsh&scriptname=selecteditmenu&name=menu.vm">&nbsp;&nbsp;<img class="edit_external" height="22px" width="22px" src="img/menu.png" title="edit menu"></a></p>
<div id="help">
	<p class="helptitle">List of Source files</p>
	<p>List of Beanshell scripts and Apache Velocity templates. These may be updated here - or new files may be created - to dynamically change the web application on the fly.</p>
	<p><img height="22" width="22" src="img/file_add.png">&nbsp;add file&nbsp;<img height="22" width="22" src="img/menu.png">&nbsp;edit menu&nbsp;<img height="22" width="22" src="img/edit.png">&nbsp;edit file&nbsp;<img height="22" width="22" src="img/remove.png">&nbsp;delete file</p>
</div>

<div id="filter">
	<p>Filter: <input id="search" searchtype="files" type="text"></p>
</div>
<div class="unitclear">
	#foreach($filename in $filelist)
		<div class="unit" tag="$!{filename.name.toLowerCase()}">
			<a href="process?action=bsh&scriptname=selectdeletefile&name=${filename.name}"><img class="delete" height="22px" width="22px" src="img/remove.png" title="delete file"></a>
			<a href="process?action=bsh&scriptname=selecteditfile&name=${filename.name}"><img class="edit" height="22px" width="22px" src="img/edit.png" title="edit file"></a>
			<div class="grouptop">
				<p class="small">script file</p>
				<p class="big">$!{filename.name}</p>
			</div>
		</div>
	#end
</div>
<div class="unitclear">
	#set($counter=0)
	#foreach($filename in $templateslist)
		<div class="unit" tag="$!{filename.name.toLowerCase()}">
			<a href="process?action=bsh&scriptname=selectdeletefile&name=${filename.name}"><img class="delete" height="22px" width="22px" src="img/remove.png" title="delete file"></a>
			<a href="process?action=bsh&scriptname=selecteditfile&name=${filename.name}"><img class="edit" height="22px" width="22px" src="img/edit.png" title="edit file"></a>
			<div class="grouptop">
				<p class="small">template file</p>
				<p class="big">$!{filename.name}</p>
			</div>
		</div>
		#set($counter=$counter+1)
	#end
</div>
