#set($pagetitle='Projects List')
<p class="heading">Projects List ($projects.size())</p>
<p>
	<img id="helpimg" height="24" width="24" src="img/help_black.png" title="show help" onclick="switchHelp()"><a href="process?action=bsh&ro=1&scriptname=selecteditproject&id=0&mode=add"><img class="add_external" height="24px" width="24px" src="img/plus_red.png" title="add project"></a>
</p>
<div id="help">
	<p>List of available Projects. Projects bundle rule groups, rules and actions for a certain topic together. Users that are in the group that the project belongs to have write access to the project. Projects marked as private are invisible to users outside the group.</p>
	<p><img height="24" width="24" src="img/edit.png">&nbsp;edit project&nbsp;<img height="24" width="24" src="img/plus_red.png">&nbsp;add new project</p>
</div>
<div id="filter">
	<p>Filter: <input id="search" type="text"></p>
</div>
#foreach($project in $projects)
	<div class="unit" tag="$!{project.name.toLowerCase()}">
		#if($user.canUpdateProject($project)==true)
			#if(${project.getNumberOfRuleGroups()}==0)<a href="process?action=bsh&ro=1&scriptname=selectdeleteproject&projectid=${project.id}&mode=change"><img class="delete" height="24px" width="24px" src="img/remove.png" title="delete project"></a>#end
			<a href="process?action=bsh&ro=1&scriptname=selecteditproject&id=${project.id}&mode=change"><img class="edit" height="24px" width="24px" src="img/edit.png" title="edit project"></a>
			<a href="process?action=bsh&ro=1&scriptname=selecteditprojecttransformation&id=${project.id}&mode=change">#if(${project.transformationFilename})<img class="attach" height="24px" width="24px" src="img/connect.png" title="edit project transformation">#else<img class="attach" height="24px" width="24px" src="img/disconnect.png" title="edit project transformation">#end</a>
		#end
		<div class="grouptop">
			<p class="small">project #if(${project.privateProject}==1)(private)#end</p>
			<p class="big"><a href="process?action=bsh&ro=1&scriptname=listrulegroups&projectid=${project.id}">$!{project.name}</a></p>
			<p class="normal">$!{project.description}</p>
			<p class="normal">group: $!{project.group.name}, owner: $!{project.ownerUser.name}</p>
		</div>
		<div>
			<p class="small">last update: $project.lastUpdate</p>
		</div>
	</div>
#end
