#set($pagetitle='User List')
<p class="heading">User List ($users.size())</p>
<p><img id="helpimg" height="22" width="22" src="img/help_black.png" title="show help" onclick="switchHelp()"><a href="process?action=bsh&ro=1&scriptname=selectedituser&id=0&mode=add"><img class="add_external" height="22px" width="22px" src="img/user_add.png" title="add user"></a><a href="process?action=bsh&ro=1&scriptname=listdeactivatedusers"><img class="add_external" height="22px" width="22px" src="img/user_deactivated.png" title="list deactivated users"></a></p>
<div id="help">
	<p class="helptitle">List of Users</p>
	<p>Lists users with access to this application. Users may be in one or more groups, giving them appropriate security access to the projects.</p>
	<p>Users may be deactivated, so they can not access the application anymore.</p>
	<p><img height="22" width="22" src="img/user_add.png">&nbsp;add new user&nbsp;<img height="22" width="22" src="img/user_deactivated.png">&nbsp;list deactivated users&nbsp;<img height="22" width="22" src="img/edit.png">&nbsp;edit user&nbsp;<img height="22" width="22" src="img/remove.png">&nbsp;deactivate user</p>
</div>
<div id="filter">
	<p>Filter: <input id="search" searchtype="users" type="text"></p>
</div>
 #foreach($appuser in $users)
	<div class="unit" tag="$!appuser.name.toLowerCase()">
		#if(${appuser.userid}!="admin")
		<a href="process?action=bsh&ro=1&scriptname=selectdeactivateuser&id=${appuser.id}"><img class="delete" height="22px" width="22px" src="img/remove.png" title="deactivate user"></a>
		<a href="process?action=bsh&ro=1&scriptname=selectedituser&id=${appuser.id}&mode=change"><img class="edit" height="22px" width="22px" src="img/edit.png" title="edit user"></a>
		#end
		<div class="grouptop">
			<p class="small">user</p>
			<p class="big">$!appuser.name</a></p>
			<p class="normal">userid: $!appuser.userid</p>
			<p class="normal">groups: $!{appuser.getGroupsAsString()}</p>
		</div>
		<div>
			<p class="small">last login: $!{appuser.lastLogin}</p>
		</div>
	</div>
#end
