#set($pagetitle='User List')
<p class="heading">User List</p>
<p><img height="24" width="24" src="img/help_black.png" title="show help" onclick="switchHelp()"><a href="process?action=bsh&ro=1&scriptname=selecteditproject&id=0&mode=add"><img class="add_external" height="24px" width="24px" src="img/plus_red.png" title="add project"></a></p>
<div id="help">
	<p>List of available Users with access to this application.</p>
	<p><img height="24" width="24" src="img/plus_red.png">&nbsp;add new user</p>
</div>
<div id="filter">
	<p>Filter: <input id="search" type="text" onKeyUp="hideUnits();"></p>
</div>
#foreach($appuser in $users)
	<div class="unit" tag="$!appuser.name">
		<img class="delete" height="24px" width="24px" src="img/remove_disabled.png" title="delete disbaled">
		<a href="process?action=bsh&ro=1&scriptname=selectedituser&id=${appuser.id}&mode=change"><img class="edit" height="24px" width="24px" src="img/edit.png" title="edit"></a>
		<div class="grouptop">
			<p class="small">user</p>
			<p class="big">$!appuser.name</a></p>
			<p class="normal">$!appuser.userid</p>
		</div>
		<div>
			<p>last login: $!{appuser.lastLogin}</p>
		</div>
	</div>
#end
