#set($pagetitle='Rules List')
<p class="heading">Rules List - Project: <a href="process?action=bsh&ro=1&scriptname=listrulegroups&projectid=${project.id}">${project.name}</a> - Rule Group: ${rulegroup.name}</p>
<p>
	<img id="helpimg" height="22" width="22" src="img/help_black.png" title="show help">
	<a href="process?action=bsh&ro=1&scriptname=listrulegroups&projectid=${project.id}"><img class="go_back" height="22" width="22" src="img/go_back.png" title="go back: Rule Groups List"></a>
	#if($user.canUpdateProject($project)==true)
		<a href="process?action=bsh&ro=1&scriptname=selecteditrulesubgroup&rulesubgroupid=0&rulegroupid=${rulegroup.id}&mode=add"><img class="add_external" height="22" width="22" src="img/subgroup_add.png" title="add subgroup"></a>
		#if($project.fields.size()>0)
			<a href="process?action=bsh&ro=1&scriptname=selecteditaction&id=0&mode=add&rulegroupid=${rulegroup.id}&projectid=${project.id}"><img class="add_external" height="22" width="22" src="img/action_add.png" title="add action"></a>
		#else
			<a href="process?action=bsh&ro=1&scriptname=listreferencefields&id=${project.id}&mode=change"><img class="add_external" height="22px" width="22px" src="img/reference_fields_undefined.png" title="define reference fields"></a>
		#end
	#end
	
</p>
<div id="help">
	<p class="helptitle">List of Subgroups, Rules and Actions</p>
	<p>Subgroups are connected to the previous subgroup by [and] or [or]. Rules in a subgroup are connected by [and] or [or]. Actions apply to the whole rule group.</p>
	<p>You can test the rules of a rulegroup by providing sample data for the fields involved in the rules. Run the test and you receive a visual indication if the group and the rules passed or failed. Also the rule message is displayed. If no fields are defined for the selected project, you won't be able to run tests on the rulegroup.</p> 
	<p><img height="22" width="22" src="img/subgroup_add.png">&nbsp;add subgroup&nbsp;<img height="22" width="22" src="img/action_add.png">&nbsp;add action &nbsp;<img height="22" width="22" src="img/rule_add2.png">&nbsp;add rule&nbsp;<img height="22" width="22" src="img/test.png">&nbsp;test rule group&nbsp;<img height="22" width="22" src="img/remove.png">&nbsp;delete subgroup/rule/action&nbsp;<img height="22" width="22" src="img/edit.png">&nbsp;edit subgroup/rule/action&nbsp;<img height="22" width="22" src="img/copy.png">&nbsp;copy subgroup/rule/action</p>

</div>
<div id="listrulegroup">
<div class="unitsmall">
		<div class="grouptop">
			<p class="small">project</p>
			<p class="big">$!{project.name}</a></p>
			<p class="normal">$!{project.description}</p>
		</div>
</div>
<div class="unitsmall">
		<div class="grouptop">
		#if($project.fields.size()>0 && $results)
			<a href="process?action=bsh&ro=1&scriptname=listrulesubgroups&rulegroupid=${rulegroup.id}"><img class="teststopimg" height="22" width="22" src="img/test_stop.png" title="stop testing"></a>
			<img class="testimg" id="testimg" height="22" width="22" src="img/test.png" title="test rule group">
		#elseif($project.fields.size()>0)
			<img class="testimg" id="testimg" height="22" width="22" src="img/test.png" title="test rule group">
		#end
			<p class="small">rulegroup</p>
			<p class="big">$!{rulegroup.name} #if($results && $rulegroupfailed==1)<img height="22" width="22" src="img/failed.png" title="rule group failed">#elseif($results && $rulegroupfailed==0)<img height="22" width="22" src="img/passed.png" title="rule group passed">#end</p>
			<p class="normal">$!{rulegroup.description}</p>
		</div>
		<div>
			#if(${rulegroup.isValid()}==true)<p class="small">#else<p class="smallred">#end valid: $!{rulegroup.validFrom}/$!{rulegroup.validUntil}</p>
		</div>
</div>
	#set($counter=0)
	#foreach($rulesubgroup in $rulesubgroups)
	<div class="unitclear">
	#if($counter>0)
			<div class="connector">
				<p><b>$!rulesubgroup.intergroupOperator</b></p>
			</div>
		#end
		<div class="unit" tag="$!rulesubgroup.name">
			#if($user.canUpdateProject($project)==true)
				<a href="process?action=bsh&ro=1&scriptname=selectdeleterulesubgroup&rulesubgroupid=${rulesubgroup.id}&rulegroupid=${rulegroup.id}&projectid=${project.id}&mode=change"><img class="delete" height="22px" width="22px" src="img/remove.png" title="delete subgroup"></a>
				<a href="process?action=bsh&ro=1&scriptname=selecteditrulesubgroup&rulesubgroupid=${rulesubgroup.id}&rulegroupid=${rulegroup.id}&projectid=${project.id}&mode=change"><img class="edit" height="22px" width="22px" src="img/edit.png" title="edit subgroup"></a>
				<a href="process?action=bsh&ro=1&scriptname=selecteditrulesubgroup&rulesubgroupid=${rulesubgroup.id}&rulegroupid=${rulegroup.id}&mode=copy"><img class="copy" height="22px" width="22px" src="img/copy.png" title="copy subgroup"></a>
				#if($project.fields.size()>0)
					<a href="process?action=bsh&ro=1&scriptname=selecteditrule&mode=add&id=0&rulegroupid=${rulegroup.id}&rulesubgroupid=${rulesubgroup.id}&projectid=${project.id}"><img class="add" height="22px" width="22px" src="img/rule_add2.png" title="add rule"></a>
				#end
			#end
			#if($counter %2==0)
				<div class="grouptop">
			#else
				<div class="grouptop2">
			#end
			<p class="small">subgroup</p>
			<p class="big">$!{rulesubgroup.name}</p>
			<p class="normal">$!{rulesubgroup.description}</p>
			</div>
			<div>
				<p class="small">rules connector: <b>$!{rulesubgroup.ruleOperator}</b></p>
			</div>
		</div>
		
		#foreach($rule in $rulesubgroup.rules)
			#if($searchid && $rule.id == $searchid)
				<div class="unithighlighted" tag="$!rulesubgroup.name">
			#else
				<div class="unit" tag="$!rulesubgroup.name">
			#end
				#if($user.canUpdateProject($project)==true)
					<a href="process?action=bsh&ro=1&scriptname=selectdeleterule&id=${rule.id}&mode=change&rulegroupid=${rulegroup.id}&rulesubgroupid=${rulesubgroup.id}&projectid=${project.id}"><img class="delete" height="22px" width="22px" src="img/remove.png" title="delete rule"></a>
					<a href="process?action=bsh&ro=1&scriptname=selecteditrule&id=${rule.id}&mode=change&rulegroupid=${rulegroup.id}&rulesubgroupid=${rulesubgroup.id}&projectid=${project.id}"><img class="edit" height="22px" width="22px" src="img/edit.png" title="edit rule"></a>
					<a href="process?action=bsh&ro=1&scriptname=selecteditrule&id=${rule.id}&mode=add&rulegroupid=${rulegroup.id}&rulesubgroupid=${rulesubgroup.id}&projectid=${project.id}"><img class="copy" height="22px" width="22px" src="img/copy.png" title="copy rule"></a>
				#end
				#if($counter %2==0)
					<div class="grouptop">
				#else
					<div class="grouptop2">
				#end
					<p class="small">rule</p>
					#if($results)
					#set($ruleresult=$!{results.getSubgroupRuleResult(${rulesubgroup.name},${rule.name})})
					#end
					#if($testrun)
						<p class="big">${rule.name} #if(${ruleresult.rule.failed}==1)<img height="22" width="22" src="img/failed.png" title="rule failed">#else<img height="22" width="22" src="img/passed.png" title="rule passed">#end</p>
						#if($ruleresult.getMessage().length()> 75)
							<p class="normal">$!{ruleresult.getMessage().substring(0,75)} ...</p>
						#else
							<p class="normal">$!{ruleresult.getMessage()}</p>
						#end
					#else
						<p class="big">${rule.name}</p>
						<p class="normal">${rule.description}</p>
						#if($rule.ruleLogic.length()> 75)
							<p class="normal">$!{rule.ruleLogic.substring(0,75)} ...</p>
						#else
							<p class="normal">$!{rule.ruleLogic}</p>
						#end
					#end
				</div>
			</div>
		#end
		
		#set($counter=$counter+1)
	</div>
	#end
	<div class="horizontaldevider">
		<hr>
	</div>
	#set($counter2=0)
	<div class="unitclear">
		#foreach($action in $rulegroupactions)
			#if($searchid && $action.id == $searchid)
				<div class="unithighlighted" tag="$!rulesubgroup.name">
			#else
				<div class="unit" tag="$!rulesubgroup.name">
			#end
				#if($user.canUpdateProject($project)==true)
					<a href="process?action=bsh&ro=1&scriptname=selectdeleteaction&id=${action.id}&mode=change&rulegroupid=${rulegroup.id}&projectid=${project.id}"><img class="delete" height="22px" width="22px" src="img/remove.png" title="delete action"></a>
					<a href="process?action=bsh&ro=1&scriptname=selecteditaction&id=${action.id}&mode=change&rulegroupid=${rulegroup.id}&projectid=${project.id}"><img class="edit" height="22px" width="22px" src="img/edit.png" title="edit action"></a>
					<a href="process?action=bsh&ro=1&scriptname=selecteditaction&id=${action.id}&mode=add&rulegroupid=${rulegroup.id}&projectid=${project.id}"><img class="copy" height="22px" width="22px" src="img/copy.png" title="copy action"></a>
				#end
				<div class="grouptopaction">
					<p class="small">action</p>
					<p class="big">$action.name #if($results && ($action.executeIfInteger==2 || $action.executeIfInteger==$rulegroupfailed))<img height="22" width="22" src="img/passed.png" title="action executed">#elseif($results && $action.executeIfInteger!=$rulegroupfailed)<img height="22" width="22" src="img/failed.png" title="action not executed">#end</p>
					<p class="normal">$action.description</p>
					#if($testrun && ($action.executeIfInteger==2 || $action.executeIfInteger==$rulegroupfailed))
						#if($row.getFieldValue($action.object2Parameter).length()> 32)
							<p class="normal">field: [$action.object2Parameter] updated to: [$row.getFieldValue($action.object2Parameter).substring(0,32)...]</p>
						#else
							<p class="normal">field: [$action.object2Parameter] updated to: [$row.getFieldValue($action.object2Parameter)]</p>
						#end
					#else
						<p class="normal">$action.actionLogic</p>
					#end
				</div>
				<div>
				#if($action.executeIf=="always")
					<p class="small">execute: $action.executeIf</p>
				#else
					<p class="small">execute: when rulegroup $action.executeIf</p>
				#end
				</div>
			</div>
			#set($counter2=$counter2+1)
		#end
	</div>
</div>
<div id="testrulegroup">
<p>Below find a list of all fields that are referenced in rules of this rule group. Fields not used by any of the rules or actions are not shown. To test the rule group, enter test values for the displayed fields. Or select the test data that was previously entered.</p>
<div class="formbox">
	<form method="POST" action="process?action=bsh&scriptname=testrulegroup"> 
	<input type="hidden" name="id" value="${project.id}">
	<input type="hidden" name="rulegroupid" value="${rulegroup.id}">
	<table align="center" width="95%" border="0">
			<tr>
				<td colspan="2" align="right">
				<img id="popup" src="img/data.png" height="22" width="22" title="select test data">
			    <p id="popupurl">testdata_popup&rulegroupid=${rulegroup.id}&id=${project.id}</p>
			    <div id="element_to_pop_up"></div>
				</td>
			</tr>
			#foreach($field in $project.fields)
			#if($usedfields.contains($field.name))
			<tr>
 				<td width="20%">${field.name} ($field.type.name):</td>
				<td width="80%">
					#if($field.type.name == "date")
						<input class="datepicker" name="field_$field.id" type="text" size="40" maxlength="19" value="$!field.testValue">
					#elseif($field.type.name == "boolean")
						<select name="field_$field.id" size="1">
							#if($field.testValue=="true")
								<option value="true" selected>true</option>
								<option value="false">false</option>
							#else
								<option value="true">true</option>
								<option value="false" selected>false</option>
							#end
			    		</select>
			    	#else
						<input name="field_$field.id" type="text" size="40" maxlength="100" value="$!field.testValue">
					#end
				</td>
			</tr>		
			#end
			#end	
		<tr>
			<td colspan="2" align="center"><br />
				<input type="submit" value="test" name="submit">
				<input type="submit" value="cancel" name="submit">
			</td>
		</tr>
	</table>
	</div>
	<ul>
		<li>Enter &quot;string&quot; values as regular text</li>
		<li>Enter &quot;date&quot; values in the format yyyy-MM-dd (e.g. 2018-05-25) or select them from the calendar. You may manually add a time value after the date (separated by one space character) in the format HH:mm:ss (e.g. 18:54:30).</li>
		<li>Enter &quot;integer&quot; and &quot;long&quot; values as numbers without decimal point and precision (e.g. 12345)</li>
		<li>Enter &quot;float&quot; and &quot;double&quot; values as numbers with decimal point and precision (e.g. 567.89)</li>
		<li>Select &quot;boolean&quot; values from the dropdown list</li>
	</ul>
</div>
<div class="unitclear">
#if (${infomessage})
	<p align="center">#insert_message($infomessage)</p>
#end
</div>	

