#set($pagetitle='List of Reference Fields')
<p class="heading">Reference Fields ($project.fields.size()) for Project: ${project.name}</p>
<p><img id="helpimg" height="24" width="24" src="img/help_black.png" title="show help" onclick="switchHelp()"><a href="process?action=bsh&ro=1&scriptname=listprojects"><img class="go_back" height="24" width="24" src="img/go_back.png" title="go back: Project List"></a>
<a href="process?action=bsh&ro=1&scriptname=selecteditreferencefield&fieldid=0&projectid=${project.id}&mode=add"><img class="add_external" height="24px" width="24px" src="img/plus_red.png" title="add reference field"></a>
<a href="process?action=bsh&ro=1&scriptname=selectloadreferencefields&projectid=${project.id}&mode=add"><img class="add_external" height="24px" width="24px" src="img/csv.png" title="import reference fields from a CSV file"></a>
</p>
<div id="help">
	<p>List of reference fields for the selected Project.</p>
	<p>When reference fields are defined, then this allows the user to simply select the fields from a drop-down list when defining rules or actions, instead of having to type in field names and types.</p>
	<p>Instead of manually defining the reference fields, you may also import them from a CSV file.</p> 
	<p>Attention: If the fields change, then you might need to adjust the rules and actions according to the new situation.</p>
	<p>Note: When using the reference field with Pentaho PDI, then select &quot;long&quot; when the Pentaho type is &quot;Integer&quot;, select &quot;double&quot; when the Pentaho type is &quot;Number&quot; and select &quot;BigDecimal&quot; when the Pentaho type is &quot;BigNumber&quot;.</p>
	
</div>
<p>Filter: <input id="search" searchtype="methods" type="text"></p>
#foreach($field in $project.fields)
	<div class="unit" tag="${field.name.toLowerCase()}">
		<a href="process?action=bsh&ro=1&scriptname=selectdeletereferencefield&projectid=${project.id}&fieldid=${field.id}&mode=change"><img class="delete" height="24px" width="24px" src="img/remove.png" title="delete reference field"></a>
		<a href="process?action=bsh&ro=1&scriptname=selecteditreferencefield&projectid=${project.id}&fieldid=${field.id}&mode=change"><img class="edit" height="24px" width="24px" src="img/edit.png" title="edit reference field"></a>
		<div class="grouptop">
			<p class="small">reference field</p>
			<p class="big">$!{field.name}</p>
			<p class="normal">$!{field.description}</p>
			<p class="normal">type: $!{field.type.name}</p>
		</div>
		<div>
			<p class="small">updated: $field.getLastUpdate(16)</p>
		</div>
	</div>
#end
