#set($pagetitle='List of Reference Fields')
<p class="heading">Reference Fields ($!project.fields.size()) for Project: ${project.name}</p>
<p><img id="helpimg" height="22" width="22" src="img/help_black.png" title="show help" onclick="switchHelp()"><a href="process?action=bsh&ro=1&scriptname=listprojects"><img class="go_back" height="22" width="22" src="img/go_back.png" title="go back: Project List"></a>
#if($user.isInGroup("Admin")|| ${user.isProjectOwner($project)})
	<a href="process?action=bsh&ro=1&scriptname=selecteditreferencefield&fieldid=0&projectid=${project.id}&mode=add"><img class="add_external" height="22px" width="22px" src="img/field_add.png" title="add reference field"></a>
	<a href="process?action=bsh&ro=1&scriptname=selectloadreferencefields&projectid=${project.id}&mode=add"><img class="add_external" height="22px" width="22px" src="img/csv.png" title="import reference fields from a CSV file"></a>
#end
</p>
<div id="help">
	<p class="helptitle">List of reference fields</p>
	<p>When reference fields are defined, then this allows the user to simply select the fields from a drop-down list when defining rules or actions, instead of having to type in field names and types.</p>
	<p>Instead of manually defining the reference fields, you may also import them from a CSV file.</p> 
	<p>Attention: If the fields change, then you might need to adjust the rules and actions according to the new situation.</p>
	<p>Note: When using the reference field with Pentaho PDI, then select &quot;long&quot; when the Pentaho type is &quot;Integer&quot;, select &quot;double&quot; when the Pentaho type is &quot;Number&quot; and select &quot;BigDecimal&quot; when the Pentaho type is &quot;BigNumber&quot;.</p>
	
</div>
<p>Filter: <input id="search" searchtype="methods" type="text"></p>
#foreach($field in $project.fields)
	<div class="unit" tag="${field.name.toLowerCase()}">
		#if($user.isInGroup("Admin")|| ${user.isProjectOwner($project)})
			<a href="process?action=bsh&ro=1&scriptname=selectdeletereferencefield&projectid=${project.id}&fieldid=${field.id}&mode=change"><img class="delete" height="22px" width="22px" src="img/remove.png" title="delete reference field"></a>
			<a href="process?action=bsh&ro=1&scriptname=selecteditreferencefield&projectid=${project.id}&fieldid=${field.id}&mode=change"><img class="edit" height="22px" width="22px" src="img/edit.png" title="edit reference field"></a>
		#end
		<div class="grouptop">
			<p class="small">reference field</p>
			<p class="big">$!{field.nameDescriptive}</p>
			<p class="normal">$!{field.description}</p>
			<p class="normal">type: $!{field.type.name}</p>
		</div>
		<div>
			<p class="small">updated: $field.getLastUpdate(16)</p>
		</div>
	</div>
#end
<br />
<br />
<div class="unitclear">
#if (${infomessage})
	<br />
	<p align="center">#insert_message($infomessage)</p>
#end
</div>
