#set($pagetitle='List of Actions')
<p class="heading">List of Actions ($actions.size())</p>
<p><img id="helpimg" height="22" width="22" src="img/help_black.png" title="show help" onclick="switchHelp()"><a target="_external" href="documents/ruleengine_actions.pdf"><img id="docimg" height="22" width="22" src="img/pdf.png" title="documentation"></a></p>
<div id="help">
	<p class="helptitle">List of Actions</p>
	<p>An action is used to update data or to execute other actions based on if a rulegroup passed or failed. An action can use the data of another field or a fixed value to update another field.</p>
</div>
<p>Filter: <input id="search" searchtype="actions" type="text"></p>
#foreach($action in $actions)
	<div class="unit" tag="$!{action.methoddisplayname.toLowerCase()}">
		<a href="process?action=bsh&ro=1&scriptname=listactionmethods&id=${action.id}"><img class="edit" height="22px" width="22px" src="img/list.png" title="list methods"></a>
		<div class="grouptop">
			<p class="small">action</p>
			<p class="big">$!{action.methoddisplayname}</a></p>
			<p class="normal">$!action.description</p>
		</div>
		<div>
			<p class="small">action class: $!{action.classnameShort}</p>
		</div>
	</div>
#end
