#set($pagetitle='List of Methods')
#set($layout="eng/layout_logic.vm")
<p class="heading">List of Methods ($methods.size()) for Action: ${action.methoddisplayname} - ${action.description}</p>

<table border="0" width="100%">
	<tr class="light">
		<td width="40%">Mandatory: Field or Parameter(s)</td>
		<td width="47%">Note</td>
		<td width="13%">Field to update</td>
	<tr>
	#set($counter=0)
	#foreach($method in $methods)
		#if($counter %2 ==0)
			<tr>
		#else
			<tr class="light2">
		#end
		<td>$!{method.methodTypes}</td>
		#if($!{method.note})
			<td>$!{method.note}</p>
		#else
			<td></td>
		#end
		#if($!{method.returnType})
			<td>${method.returnType}</td>
		#else
			<td></td>
		#end
		</tr>
		#set($counter=$counter +1)
	#end
</table>

