#set($pagetitle='Projects List')
<p class="heading">Projects List ($projects.size())</p>
<p>
	<img id="helpimg" height="22" width="22" src="img/help_black.png" title="show help" onclick="switchHelp()">
	<a href="process?action=bsh&ro=1&scriptname=selecteditproject&id=0&mode=add"><img class="add_external" height="22px" width="22px" src="img/add_project.png" title="add project"></a>
</p>
<div id="help">
	<p class="helptitle">List of Projects</p>
	<p>Projects bundle rule groups, rules and actions for a certain topic together. Users that are in the group that the project belongs to have write access to the project. Others have read-only access. Projects marked as private are invisible to users outside the group.</p>
	<p>Add reference fields to a project, so that the user writing rules or actions does not have to write fields and field types by hand. Having reference fields in place also allows to test rulegroups.</p>
	<p><img height="22" width="22" src="img/edit.png">&nbsp;edit project&nbsp;<img height="22" width="22" src="img/add_project.png">&nbsp;add project&nbsp;<img height="22" width="22" src="img/remove.png">&nbsp;delete project&nbsp;<img height="22" width="22" src="img/copy.png">&nbsp;copy project&nbsp;<img height="22" width="22" src="img/document.png">&nbsp;generate project logic&nbsp;<img height="22" width="22" src="img/reference_fields.png">&nbsp;project reference fields</p>
</div>
<div id="filter">
	<p>Filter: <input id="search" searchtype="project" type="text"></p>
</div>
#foreach($project in $projects)
	<div class="unit" tag="$!{project.name.toLowerCase()}">
		<a target="_external" href="process?action=bsh&ro=1&scriptname=listrulegrouplogic&projectid=${project.id}"><img class="rulegrouplogic" height="22px" width="22px" src="img/document.png" title="generate project logic"></a>
		#if($user.canUpdateProject($project)==true)
			#if($user.canDeleteProject($project)==true)<a href="process?action=bsh&ro=1&scriptname=selectdeleteproject&projectid=${project.id}&mode=change"><img class="delete" height="22px" width="22px" src="img/remove.png" title="delete project"></a>#end
			#if($user.isInGroup("Admin") || $user.isProjectOwner($project))<a href="process?action=bsh&ro=1&scriptname=selecteditproject&id=${project.id}&mode=change"><img class="edit" height="22px" width="22px" src="img/edit.png" title="edit project"></a>#end
			<a href="process?action=bsh&ro=1&scriptname=listreferencefields&id=${project.id}&mode=change">#if($project.numberOfFields>0)<img class="attach" height="22px" width="22px" src="img/reference_fields.png" title="reference fields ($project.numberOfFields)">#else<img class="attach" height="22px" width="22px" src="img/reference_fields_undefined.png" title="define reference fields">#end</a>
			<a href="process?action=bsh&ro=1&scriptname=selectcopyproject&projectid=${project.id}"><img class="copyproject" height="22px" width="22px" src="img/copy.png" title="copy project"></a>
		#end
		<div class="grouptop">
			<p class="small">project #if(${project.privateProject}==1)(private)#end</p>
			<p class="big"><a href="process?action=bsh&ro=1&scriptname=listrulegroups&projectid=${project.id}">$!{project.name}</a></p>
			<p class="normal">$!{project.description}</p>
			<p class="normal">group: $!{project.group.name}, owner: $!{project.ownerUser.name}</p>
		</div>
		<div>
			<p class="small">updated: $project.getLastUpdate(16)</p>
		</div>
	</div>
#end
<div class="unitclear">
#if (${infomessage})
	<br />
	<p align="center">#insert_message($infomessage)</p>
#end
</div>
