#set($pagetitle='Deactivated User List')
<p class="heading">Deactivated User List ($users.size())</p>
<p>
	<img id="helpimg" height="22" width="22" src="img/help_black.png" title="show help" onclick="switchHelp()">
	<a href="process?action=bsh&ro=1&scriptname=listusers"><img class="go_back" height="22" width="22" src="img/go_back.png" title="go back: Users List"></a>
</p>
<div id="help">
	<p class="helptitle">List of deactivated users</p>
	<p>You may re-activate users. If the user is deleted, then all references to this users are completely removed; this can not be undone.</p>
	<p><img height="22" width="22" src="img/remove.png">&nbsp;delete user&nbsp;<img height="22" width="22" src="img/activate_user.png">&nbsp;re-activate user</p>
</div>
<div id="filter">
	<p>Filter: <input id="search" searchtype="deactivatedusers" type="text"></p>
</div>
#foreach($appuser in $users)
	<div class="unit" tag="$!appuser.name.toLowerCase()">
		<a href="process?action=bsh&ro=1&scriptname=selectdeleteuser&id=${appuser.id}"><img class="delete" height="22px" width="22px" src="img/remove.png" title="delete user"></a>
		<a href="process?action=bsh&ro=1&scriptname=selectactivateuser&id=${appuser.id}&mode=change"><img class="edit" height="22px" width="22px" src="img/activate_user.png" title="re-activate user"></a>
		<div class="grouptop">
			<p class="small">user</p>
			<p class="big">$!appuser.name</a></p>
			<p class="normal">userid: $!appuser.userid</p>
			<p class="normal">deactivated: $!{appuser.getDeactivatedDate()}</p>
		</div>
		<div>
			<p class="small">last login: $!{appuser.lastLogin}</p>
		</div>
	</div>
#end
