#set($pagetitle='Export Project Zip File')
<p class="heading">Export Project Zip File</p>
<p><img id="helpimg" height="22" width="22" src="img/help_black.png" title="show help" onclick="switchHelp()"></p>
<div id="help">
	<p class="helptitle">Export Project Zip file</p>
	<p>Export a Zip file containing all rules, rulegroups, subgroups and actions of a selected project. Only rule groups that are valid on or after the selected Validity Date below are included.</p>
	<p>You will be prompted by your web browser to save the Zip file in a location of your choice, if no default export folder is defined.</p>
</div>
<div class="formbox">
<form method="POST" action="process?action=bsh&scriptname=sendfile"> 
<table align="center" width="95%" border="0">
	<tr> 
		<td>Project:</td>
		<td>
			<select name="id" size="1">
			<option value="0"></option>
			#foreach($project in $projects)
					#if($selectedproject && $selectedproject.id == $project.id)
						<option selected value="$project.id">${project.name} - ${project.description}</option>
					#else
						<option value="$project.id">${project.name} - ${project.description}</option>
					#end
			#end
    		</select>
		</td>
	</tr>
	<tr>
		<td>Validity Date:</td>
		<td>
			<input id="datepicker1" name="selecteddate" type="text" size="40" maxlength="10" value="$!{today}"> (format: YYYY-MM-DD)
		</td>
	</tr>
	<tr>
		<td>Environment:</td>
		<td>
		<select name="environment" size="1">
				#if($environment=="prod")
					<option value="dev">Development</option>
					<option selected value="prod">Production and Development</option>
				#else
					<option selected value="dev">Development</option>
					<option value="prod">Production and Development</option>
				#end
    		</select>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center"><br />
			<input type="submit" value="generate" name="submit">
		</td>
	</tr>
	
</table>
</form>
</div>
#if (${infomessage})
	<p align="center">#insert_message($infomessage)</p>
#end

