#set($pagetitle='Update Password')
<p class="heading">Update Password for userid: ${updateuser.userid} - name: ${updateuser.name}</p>
<p><img id="helpimg" height="22" width="22" src="img/help_black.png" title="show help" onclick="switchHelp()"></p>
<div id="help">
	<p class="helptitle">Update password</p>
	<p>To update your password, enter first your current password and then twice the new password. For security reasons make sure that the password is sufficient in length (minimum 8 characters) and contains a mixture of characters, special characters and numbers.</p>
</div>

<div class="formbox">
<form method="POST" action="process?action=bsh&scriptname=updatepassword">
    <table align="center" border="0">
		<tr>
			<td>current Password:</td>
			<td><input type="password" id="password1" name="password1" size="40" maxlength="255" value=""></td>
		</tr>
		<tr>
			<td>new Password:</td>
			<td><input type="password" name="password2" size="40" maxlength="255" value=""></td>
		</tr>
		<tr>
			<td>new Password (repeated):</td>
			<td><input type="password" name="password3" size="40" maxlength="255" value=""></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" value="update Password" name="update">
			</td>
		</tr>
    </table>
</form>
#insert_focus_scriptcode("password1")
</div>
#if (${infomessage})
	<p class="errormessage" align="center">$infomessage.text</p>
#end
