#set($pagetitle='Start Page')
<p class="heading">Start Page</p>
#if(${request.session.getAttribute("user")})
	<p>Welcome back to the Business Rule Maintenance Tool <b>$!{request.session.getAttribute("user").name}</b>!</p>
#else
	<p>Welcome to the Business Rules Maintenance Tool.</p>
#end
</p>
<p>This application is used for the maintenance of Business Rules and Actions for the Java Rule Engine &quot;Jare&quot;. Once a group of rules and actions is defined, the relevant project can be exported to a single zip file and used with the Business Rule Engine and any Java application (also Web application). The Pentaho Data Integration tool (PDI or also called Kettle) can use the zip file through a plugin to filter data, to update data or to check data.</p>
</br>
#if(!$shotnumber)
	#set($shotnumber=1)
#end
<p align="center"><img width="720px" src="img/welcomepage_shot_${shotnumber}.png"></p>
</br>
<p>On the highest level there are projects. A project contains one to many rule groups. A rule group again consists of one to many subgroups. Rules in a subgroup are connected with an &quot;and&quot; or &quot;or&quot; condition. Subgroups are connected to each other also using an &quot;and&quot; or &quot;or&quot; condition. This way the logic of a rule group can be defined in a very flexible way. The rule group ultimately defines a set of logic belonging together and all rule groups in a project are executed one after the other to check the data for validity and conformity.</p>
<p>Actions are always applied to a rulegroup. One to many actions may be executed depending on the state of a rulegroup - if it passed the checks or is it failed the checks which are done using the rules.<p>
<p>Rule groups also have a validity date, defining from which date until which other date the group is valid. This allows to define date ranges in which rules and actions are valid or not and to plan changes ahead. At the same time this makes sure that expired groups with rules and actions are not used for the business rule evaluation process.</p>
</br>
</br>
